# MediaHub Data & Caches
data/
thumbs/
sprites/
logs/
temp/

# OS System Files
thumbs.db
Thumbs.db
desktop.ini
.DS_Store
._*

# Media Files / Folders
shared_media/
*.mp4
*.mkv
*.avi
*.webm
*.mov
*.m4v
*.ts
*.jpg
*.jpeg
*.png
*.gif
*.webp

# Python & Virtual Environment
__pycache__/
.venv/
venv/
*.pyc

# Environment & Databases
.env
*.db
*.db-shm
*.db-wal