# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a standalone executable, so may be omitted
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the Python version is
#   controlled by the package manager. However, for a service, you might want to keep them.
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if you want to keep your dependencies next to your project
#   and not install them into the system, you may want to ignore .venv.
# .venv

# Poetry
#   Poetry uses pyproject.toml and poetry.lock to manage dependencies.
#   It is recommended to include both files in version control.
#   However, if you want to keep your virtualenv inside the project directory, you may want to ignore .venv.
# .venv

# pdm
#   PDM uses pyproject.toml and pdm.lock to manage dependencies.
#   It is recommended to include both files in version control.
#   However, if you want to keep your virtualenv inside the project directory, you may want to ignore .venv.
# .venv

# PEP 582; used by e.g. github.com/frenzymadness/python-setup-dot-hierarchy
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate file from here
.idea/

# VS Code
.vscode/

# MediaHub Specific
mediahub.db
mediahub.db-journal
mediahub.db-wal
logs/
temp/
thumbs/*
!thumbs/.gitkeep
shared_media/*
!shared_media/.gitkeep
.DS_Store
*.log
scratch/

# Large Assets
material-design-icons-master/
*.zip
*.rar
*.7z
